body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.form{
  padding-left: 20px;
}
.searchBar{
  padding-left: 0px;
}
i {
  font-size: 20px;
  padding-bottom: 3px;
  padding-right: 5px;
}
.map-form {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
}
.MuiToolbar-root-39 {
  display: flex;
  justify-content: space-between;
}
.jss39.jss41.jss40{
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: white;
}
.leftNav *{
  display: inline;
}
.MuiInput-input-115 {
  width: 175px;
  margin: 0 auto;
  font-size: 14px;
}
.jss115{
  width: 175px;
  margin: 0 auto;
  font-size: 14px;
}
.MuiFormControl-root-91.MuiFormControl-marginNormal-92.textfield{
  margin-right: 5px;
}
.jss91.jss92{
  margin-right: 5px;
}
.form-container *{
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.submit{
  background-color: green;
  color: black;
  width: 185px;
  font-weight: bolder;
  background-color: #0099e5;
}
.submit:hover{
  background-color: #008080;
}

.MuiButtonBase-root-49.MuiButton-root-91.MuiButton-text-93.MuiButton-flat-96{
  width: 100px;
  height: 50px;
}
.jss49.jss91.jss93.jss96{
  width: 100px;
  height: 50px;
}
.socialLinks{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.MuiButtonBase-root-146.MuiButton-root-120.MuiButton-text-122.MuiButton-flat-125{
  color: white;
}
.MuiButtonBase-root-146.MuiButton-root-120.MuiButton-text-122.MuiButton-flat-125:hover{
  color: grey;
}
.jss146.jss120.jss122.jss125{
  color: white;
}
.jss146.jss120.jss122.jss125:hover{
  color: grey;
}

.ft2-2{
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.socials {
  color: black;
}
.socials:hover{
  color: #0099e5;
}
.githubRepo{
  color: white;
}
.githubRepo:hover{
  color: grey;
}
.header-wrapper {
  border: 1px solid grey;
  display: flex;
  width: 100%;
  height: 56px;
  padding-right: 10px;
  margin-top: 5px;
}
.time-label > input {
  width: 50px;
  height: 40px;
  border-radius: 4px;
  font-size: 28px;
  text-align: center;
}
.login-wrapper {
  border: 1px solid grey;
}
.bodyWrapper {
  display: grid;
  grid-template-columns: minmax(250px, 2fr) minmax(250px, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 850px;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.stickyButtons{
  position: fixed;
}

.searchResults{
  padding-top: 10px;
  overflow-y: auto;
  /* height: 630px; */
  height: 687px;
  background-color: #eaeaea;
}

.MuiButton-label-44{
  color: black;
  font-size: 18px;
}
.jss44{
  color: black;
  font-size: 18px;
}
.jss44{
  color: #0099e5;
}
.MuiButton-label-44:hover{
  color: #0099e5;
}
.MuiButton-root-120{
  color: white;
}
.jss120{
  color: white;
}
.jss121{
  color: white;
}
.jss122{
  color: white;
}

.MuiButton-label-186{
  color: white;
}

.jss186{
  color: white;
}

.jss211.jss185.jss187.jss190{
  color:white;
}

.helpPoint{
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}
.info{
  display: grid;
  grid-template-columns: minmax(250px, 2fr) minmax(250px, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 10px;
  font-size: 18px;
  padding-bottom: 10px;
}
.directions{
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: minmax(250px, 2fr) minmax(250px, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  font-size: 18px;
  padding-bottom: 20px;
}

h2 {
  text-align: center;
  font-weight: bolder;
}

.div2-1{
  display: block;
}

.howToUse *{
  color: white;
  font-size: 18px;
}




/* splashpagecss */

.splash_container{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.header {
  text-align: center;
  background-image: url("assets/images/stunning2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 555px;
  margin-bottom: 30px;
}

.header * {
  text-decoration: none;
}

.splash_header_1 {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 36px;
  padding-bottom: 20px;
}

.splash_caption_1 {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  padding-bottom: 30px;
}

.gif_header{
  margin-top: -20px;
  text-align: center;
}

.top_photos{
  display: grid;
  background-color: white;
  grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 500px;
  /* margin-bottom: 150px; */
}

.top_photos img{
  display: flex;
  object-fit: cover;
  width: 600px;
  height: 455px;
  margin: 0 auto;
}
.features{
  display: grid;
  background-color: white;
  grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr);
  grid-column-gap: 10px;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 10px;
  height: 800px;
  margin-bottom: 800px;
  color: $darkgray;
  align-items: center;


}
h2{
  font-size: 36px;
  font-weight: 400;
}

p{
  font-size: 18px;
  padding: 0 60px;
}
.div4-1{
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer {
  height: 310px;
  width: 100%;
  background-image: url("assets/images/stunning.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 1px 1px black;
  color: white;
}

i {
  color: white;
}

i:hover{
  color: #0099e5;
}

.links{
  display: grid;
  grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;

  * {
    color: white;
  }

  p {
    width: 250px;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }
  .ft-headers{
    font-size: 14px;
  }

  .socials{
    font-size: 25px;
  }

  i:hover{
    color: #0099e5;
  }
}

.splash_header_2 {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 36px;
  padding-bottom: 20px;
}

.splash_caption_2 {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  padding-bottom: 50px;
}

.splash_header_3 {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 36px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.splash_caption_3 {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  padding-bottom: 40px;
}

#large_header_text{
  color: white;
  font-size: 48px;
  align-items: center;
  padding-top: 190px;
  text-shadow: 1px 1px black;
}

#medium_header_text{
  color: white;
  font-size: 24px;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 50px;
  text-shadow: 1px 1px black;
}

#second_sign_up {
  background-color: #0099e5;
  color: white;
  border-radius: 25px;
  border: 1px solid #0099e5;
  font-size: 20px;
  height: 15%;
  line-height: 26px;
  width: 20%;
  padding: 15px 20px 15px 20px;
}

#second_sign_up:hover{
  background-color: #00b3e5;
}

.appbar {
  height: 60px;
  background: #01579b;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: 700;
}

.leftNavBar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 12px;
}

.rightNavBar {
  font-size: 30px;
  margin: 0 12px;
  display: flex;
  margin-top: 7px;
} 

.rightNavBar .navlink {
  width: 90%;
  height: 53px;
  box-sizing: border-box;
  margin: 0 8px;
  color: white;
}

.rightNavBar a {
  color: inherit;
  padding-bottom: 20px;
}

.rightNavBar .navlink:hover {
  border-bottom: 8px solid #e9e9e9;
  color: #e9e9e9;
}

.navbarlink {
  width: 100%;
}

.greeting {
  font-size: 20px;
  color: white;
  width: 60px;
  margin: 0 45px;
}

.logout_button{
  padding-left: 10px;
  font-size: 18px;
  position: relative;
  top: 7px;
}
