.header-wrapper {
  border: 1px solid grey;
  display: flex;
  width: 100%;
  height: 56px;
  padding-right: 10px;
  margin-top: 5px;
}
.time-label > input {
  width: 50px;
  height: 40px;
  border-radius: 4px;
  font-size: 28px;
  text-align: center;
}
.login-wrapper {
  border: 1px solid grey;
}
.bodyWrapper {
  display: grid;
  grid-template-columns: minmax(250px, 2fr) minmax(250px, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 850px;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mapWrapper1 {
  width: 500px !important;
  height: 850px !important;
  z-index: 1;
  position: flex !important;
}
.mapWrapper2 {
  width: 67vw !important;
  height: 850px !important;
  z-index: 1;
  position: flex !important;
}
.sideBar{
  overflow-y:auto;
  height: 850px;
}
.stickyButtons{
  position: fixed;
}
.searchResults{
  padding-top: 50px;
}

.MuiButton-label-44{
  color: black;
  font-size: 18px;
}
.MuiButton-label-44:hover{
  color: #0099e5;
}

.MuiButton-root-120{
  color: white;
}

.helpPoint{
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}

.info{
  padding-left: 10px;
  font-size: 18px;
  padding-bottom: 10px;
}

.howToUse *{
  color: white;
  font-size: 18px;
}
