.header-wrapper {
  border: 1px solid grey;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  padding-right: 10px;
  margin-top: 5px;
}

.drop-down-wrapper {
  border: 1px solid grey;
}

.map-form-wrapper {
  border: 1px solid grey;
}

.map-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.time-label > input {
  width: 50px;
  height: 40px;
  border-radius: 4px;
  font-size: 28px;
  text-align: center;
}

.login-wrapper {
  border: 1px solid grey;
}
